/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes opacity-change {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes size-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

.heart-borders {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.heart-main-body {
  color: transparent;
  transition: color 0.3s ease-in;
}

.heart-core {
  color: transparent;
  transition: color 0.3s ease-in 0.03s;
}

.heart-sparcles {
  opacity: 0;
}

.card__icon-button:hover .heart-main-body {
  color: var(--accent-color);
  transition: color 0.3s ease-in 0.05s;
}

.card__icon-button:hover .heart-core {
  fill: var(--accent-color);
  transition: fill 0.3s ease-in;
}

.card__icon-button:active .heart-core {
  fill: var(--animation-color);
  transition: fill 0.3s ease-in;
}

.card__icon-button:active .heart-main-body {
  fill: var(--animation-color);
  transition: fill 0.3s ease-in 0.05s;
}

.like-icon.is-liked .heart-main-body {
  transition: fill 0.3s ease-in 0.05s;
  fill: var(--animation-color);
}

.like-icon.is-liked .heart-core {
  transition: fill 0.3s ease-in;
  fill: var(--animation-color);
}

.like-icon.is-liked .heart-borders {
  transition: fill 0.3s ease-in 0.07s;
  fill: var(--animation-color);
}

.like-icon.is-liked .heart-sparcles {
  animation: opacity-change 0.3s ease-in 0.3s alternate;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: size-scale 0.3s ease-in 0.1s alternate;
}
